.product-image {
  width: 180px;
  border-radius: 5px;
}
.eachproduct-container {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}
.price {
  font-family: 'Roboto';
  font-size: 28px;
  margin-top: -30px;
}
.name {
  font-family: 'Roboto';
  font-size: 13px;
  padding-top: 0px;
}
.weight {
  font-family: 'Roboto';
  color: gray;
  font-size: 18px;
  padding-top: 0px;
}
.isAdd {
  font-size: 40px;
  background-color: rgb(64, 235, 178);
  color: white;
  text-align: center;
  width: 50px;
  border-radius: 50%;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  border: none;
  align-self: flex-end;
}
